.wrapper {
    position: relative;
    padding: 175px 0 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    line-height: 1.5;
}

.poster {
    position: relative;
    img {
        border-radius: 5px;
    }
}

.popup-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    margin-left: 23px;
}

@media (max-width: 991.98px) {
    .content {
        margin-left: 0px;
    }

    .poster {
        max-width: 303px;
        margin: 0 auto 50px;
    }
}
