.wrapper {
    position: relative;
    padding: 175px 0 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    line-height: 1.5;
}

.poster {
    position: relative;
    img {
        border-radius: 5px;
    }
}

.popup-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    margin-left: 23px;
}

.list-btn {
    display: flex;
    gap: 16px;
    .btn-add {
        max-width: 246px;
        &:hover {
            background-color: var(--bg-color);
            color: #f85d5d;
            border-color: #f85d5d;
        }
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .content {
        margin-left: 0px;
    }

    .poster {
        max-width: 303px;
        margin: 0 auto 50px;
    }
}

@media (max-width: 767.98px) {
    .list-btn {
        flex-direction: column;
    }
}
