.wrapper {
    position: relative;
    padding: 175px 0 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    line-height: 1.5;
}

.poster {
    position: relative;
}

.popup-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    margin-left: 23px;
}

.title {
    font-size: 5.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    span {
        color: var(--primary);
    }
}

.meta {
    display: flex;
    flex-wrap: wrap;
    div {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-right: 18px;
    }
}

.quality {
    span {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #21232b;
        background: #fff;
        font-weight: 700;
        padding: 7px 11px;
        line-height: 1;
        &:last-child {
            background: transparent;
            color: #fff;
            margin-left: 9px;
            border: 2px solid #fff;
            padding: 5px 10px;
        }
    }
}

.category {
    span + span {
        margin-left: 5px;
    }
}

.release-time {
    span {
        font-size: 1.4rem;
        font-weight: 500;
        color: #e3dfdf;
        span {
            display: inline-block;
            transform: translateY(-1px);
            font-size: 1.2rem;
            margin-right: 5px;
            color: var(--primary);
        }
    }

    span + span {
        margin-left: 15px;
    }
}

.description {
    line-height: 2.6rem;
    color: #bcbcbc;
    margin-bottom: 30px;
}

@media (max-width: 991.98px) {
    .title {
        font-size: 4.6rem;
    }

    .content {
        margin-left: 0px;
    }

    .poster {
        max-width: 303px;
        margin: 0 auto 50px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .title {
        font-size: 3.6rem;
    }
}
