.wrapper {
    transition: 0.7s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    height: auto;
    background-color: transparent;
}

.wrapper.sticky {
    background-color: #171d22;
    position: fixed;
    padding: 0;
}

.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: block;
}

.nav-item-link {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 38px 23px;
    display: block;
    line-height: 1;
    z-index: 1;
    &:hover {
        color: var(--primary);
    }
}

//action
.action {
    display: flex;
    align-items: center;
}

.search-btn {
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 2px 15px;
    margin-right: 12px;
    border-right: 2px solid rgba(255, 255, 255, 0.12);

    &:hover {
        color: var(--primary);
    }
}

.close {
    font-size: 2.2rem;
}

.toggle-menu-btn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 3rem;
}

.avatar-user {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    border-radius: 100px;
    cursor: pointer;
}

.avatar-user.active {
    border: 4px solid rgba(228, 216, 4, 0.3);
}

.popup {
    position: absolute;
    top: 90%;
    right: 10px;
    background-color: #1f2229;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    opacity: 0;
    animation-name: scaleIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.header-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #515151;
    .avatar {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
        border-radius: 50%;
    }
}

.popup-info {
    color: #fff;
    p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}

.popup-footer {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

//modal-mobile
.nav-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(23, 29, 34, 0.8);
    z-index: 2;
}

.nav-mobile {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 300px;
    background-color: #171d22;
    transition: 0.3s;
    animation: slideLeft 0.3s ease-in;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    to {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
}

.nav-close-btn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 2.4rem;
}

.nav-mobile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-mobile-item {
    display: block;
    border-top: 1px solid rgb(255 255 255 / 10%);
}

.nav-mobile-item-link {
    display: block;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4rem;
    &:hover {
        color: var(--primary);
    }
}

.nav-user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-top: 1px solid #515151;
    border-bottom: 1px solid #515151;
    .avatar {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
        border-radius: 50%;
    }
}

.nav-user-header .popup-info {
    text-align: right;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

//scroll top btn
@keyframes onTop {
    from {
        opacity: 0;
        bottom: 105%;
    }
    to {
        opacity: 1;
        bottom: 15px;
    }
}

.scroll-top-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 1.6rem;
    border-radius: 50%;
    z-index: 99;
    background-color: var(--primary);
    color: var(--bg-color);
    text-align: center;
    cursor: pointer;
    border: none;
    animation: onTop 0.8s ease-in;
    &:hover {
        color: var(--text-color);
        background-color: var(--bg-color);
    }
}

//responsive
//md
@media (min-width: 768px) {
    .wrapper {
        padding: 20px 0;
    }

    .scroll-top-btn {
        right: 40px;
        bottom: 30px;
    }
}
