.wrapper {
    background-color: #171d22;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 99;
}

.loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
